{% extends 'base.html.twig' %}

{% block title %}New Profesor{% endblock %}

{% block body %}
    <h1>Create new Profesor</h1>

    {{ include('profesor/_form.html.twig') }}

    <a href="{{ path('app_profesor_index') }}">back to list</a>
{% endblock %}
